@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
$backgroundPage : rgb(245,243,243);
$borderColor: rgb(158,157,157);
$bgHoverSection: rgb(230,230,230);
$bodycolor: #292929;
$whiteColor: #ffffff;
$fontFamily: "Roboto Mono";